# Revenix Linux Agent environment.
# Copy this file to agent.env and update values.

API_URL=http://YOUR-MAIN-SERVER:8000
REDIS_URL=redis://YOUR-MAIN-SERVER:6379

# Optional
REDIS_PASSWORD=
# Leave blank to auto-detect from default route.
NETWORK_INTERFACE=
# "true" is recommended for better visibility
PROMISCUOUS_MODE=true
